body{
	color: white !important;
	background: #101010 !important;
}

.stocktable{
    color: #3ecf82 !important;
}
.stocktable:hover{
    cursor: pointer;
}

.stocktable::after{
    content: '' !important;
    display: block !important;
    width: 0 !important;
    height: 2px !important;
    background: #3ecf82 !important;
    transition: width .3s !important;    
}
.stocktable:hover::after{
    width: 100% !important;
    transition: width .3s !important;
}
.text-title{
    letter-spacing: 0.3rem;
    color: #f8d229;
}
.card-title{
	color: #f8d229 !important;
}
.card{
	height: 30%
}